AI_tools_for_scientific_reasearch.docx
Articles/
Alina_git_repo_matlab/
Matlab_files/
experimental_data_thermo-model_cultivation_v5.xlsx
loputoodejuhend_10.01.2023_pdf.pdf
escher-python.ipynb
Model_files/
Thesis_paper_latex/
.vscode/
Thesis_pdf/
build/
# .gitignore
gurobi.log
Results/
Kokkuvõte/
Metaandmed/
Model_files/
Python_scripts/__pycache__/
Python_scripts/Knock_outs/
Python_scripts/Training_simulations/
Python_scripts/Thesis_simulations_all_models/functions_test.ipynb
