AI_tools_for_scientific_reasearch.docx
Articles/
Alina_git_repo_matlab/
Matlab_files/
experimental_data_thermo-model_cultivation_v5.xlsx
loputoodejuhend_10.01.2023_pdf.pdf
escher-python.ipynb
Model_files/
Thesis_paper_latex/